@media only screen and (min-width: 1000px){
.footer {
  width: 100vw;
  height: 5vh;
  /* margin-top: 87vh; */
  background-color: rgba(205, 143, 35, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
  position: absolute;
}
}

.footerText {
  font-size: 14px;
}
@media only screen and (min-width: 500px) and (max-width: 1100px) and (orientation: portrait) {
  .footer {
    width: 100vw;
    height: 5vh;
    /* margin-top: 87vh; */
    background-color: rgba(205, 143, 35, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    position: absolute;
  }
}
@media only screen and (max-width: 920px) and (orientation: landscape){
  .footer {
    width: 110vw;
    height: 9vh;

    /* margin-top: 87vh; */
    background-color: rgba(205, 143, 35, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
   
  }
}
@media only screen and (max-width: 490px) and (orientation: portrait){
  .footer {
    width: 100vw;

    /* margin-top: 87vh; */
    background-color: rgba(205, 143, 35, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 1vh; */
    
   
  }
}
@media only screen and (max-width: 300px){
  .footer {
    width: 110vw;

    /* margin-top: 87vh; */
    background-color: rgba(205, 143, 35, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
   
  }
}
.footerText {
  font-size: 12px;
}
.gitHubLink {
  transition: color 0.3s ease-in-out;
}
.gitHubLink:hover {
  color: orange;
  cursor: pointer;
}
