.footer {
  width: 100vw;
  height: 5vh;
  margin-top: 87vh;
  background-color: rgba(205, 143, 35, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
}

.footerText {
  font-size: 14px;
}
.gitHubLink {
  transition: color 0.3s ease-in-out;
}
.gitHubLink:hover {
  color: orange;
  cursor: pointer;
}
