/*HEADER NAVBAR*/
@media only screen and (min-width: 1100px) {
  .header {
    width: 100vw;
    height: 15vh;
    position: absolute;
    z-index: 1;
    /* margin-top: 2vh; */
  }
  .navBar {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
  }
}

@media only screen and (max-width: 920px) and (orientation: landscape) {
  .header {
    width: 110vw;
    height: 15vh;
    position: absolute;
    z-index: 1;
    /* margin-top: 2vh; */
  }
  .navBar {
    width: 110vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    
  }
  .navBarText {
    transition: color 0.5s ease-in-out;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1100px) and (orientation: portrait) {
  .header {
    width: 100vw;
    height: 8vh;
    position: absolute;
    z-index: 1;
    /* margin-top: 1vh; */
  }
  .navBar {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1100px)   and (orientation: landscape){
  .header {
    width: 100vw;
    height: 8vh;
    position: absolute;
    z-index: 1;
    /* margin-top: 1vh; */
  }
  .navBar {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
  }
}

@media only screen and (max-width: 490px) and (orientation: portrait) {
  .header {
    width: 100vw;
    height: 15vh;
    position: absolute;
    z-index: 1;
  }

  .navBar {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  .navBarText {
    transition: color 0.5s ease-in-out;
    font-size: 20px;
  }
}

@media only screen and (max-width: 300px) {
  /* .container {
    width: 110vw;
  } */

  .header {
    width: 110vw;
    height: 15vh;
    position: absolute;
    z-index: 1;
  }
  .navBar {
    width: 110vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  .navBarText {
    font-size: 12px;
  }
}
.navBarText:hover {
  color: orange;
  cursor: pointer;
}
/*PROFILE PICTURE*/
@media only screen and (min-width: 1100px) {
  .profilePictureInner {
    display: flex;
    width: 100vw;
  }

  .profilePictureBack {
    width: 100vw;
    height: 75vh;

    margin: 0;
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 50%,
        darkolivegreen 80%
      ),
      url("https://res.cloudinary.com/anais1805/image/upload/v1670345207/LA-CAPSULE_07-09-2022-520HD_s2eq8r.jpg");
    overflow: hidden;
  }
}

@media only screen and (max-width: 920px) and (orientation: landscape) {
  .navBarText:hover {
    color: orange;
    cursor: pointer;
  }
  .profilePictureInner {
    display: flex;
    width: 110vw;
  }

  .profilePictureBack {
    width: 110vw;
    height: 80vh;

    margin: 0;
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 40%,
        darkolivegreen 100%
      ),
      url("https://res.cloudinary.com/anais1805/image/upload/v1670345207/LA-CAPSULE_07-09-2022-520HD_s2eq8r.jpg");
    overflow: hidden;
  }
}


@media only screen and (min-width: 500px) and (max-width: 1100px) and (orientation: portrait) {
  .navBarText:hover {
    color: orange;
    cursor: pointer;
  }
  .profilePictureInner {
    display: flex;
    width: 100vw;
  }

  .profilePictureBack {
    width: 100vw;
    height: 29vh;

    margin: 0;
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 40%,
        darkolivegreen 100%
      ),
      url("https://res.cloudinary.com/anais1805/image/upload/v1670345207/LA-CAPSULE_07-09-2022-520HD_s2eq8r.jpg");
    overflow: hidden;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1100px)  and (orientation: landscape){
  .navBarText:hover {
    color: orange;
    cursor: pointer;
  }
  .profilePictureInner {
    display: flex;
    width: 100vw;
  }

  .profilePictureBack {
    width: 100vw;
    height: 40vh;

    margin: 0;
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 40%,
        darkolivegreen 100%
      ),
      url("https://res.cloudinary.com/anais1805/image/upload/v1670345207/LA-CAPSULE_07-09-2022-520HD_s2eq8r.jpg");
    overflow: hidden;
  }
}
@media only screen and (min-width: 1000px) and (max-height: 600px)  {
  .navBarText:hover {
    color: orange;
    cursor: pointer;
  }
  .profilePictureInner {
    display: flex;
    width: 100vw;
  }

  .profilePictureBack {
    width: 100vw;
    height: 45vh;

    margin: 0;
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 40%,
        darkolivegreen 100%
      ),
      url("https://res.cloudinary.com/anais1805/image/upload/v1670345207/LA-CAPSULE_07-09-2022-520HD_s2eq8r.jpg");
    overflow: hidden;
  }
}
/* @media only screen and (min-width: 1020px) and (max-width: 1100px){
  .navBarText:hover {
    color: orange;
    cursor: pointer;
  }
  .profilePictureInner {
    display: flex;
    width: 100vw;
  }

  .profilePictureBack {
    width: 110vw;
    height: 30vh;

    margin: 0;
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 40%,
        darkolivegreen 100%
      ),
      url("https://res.cloudinary.com/anais1805/image/upload/v1670345207/LA-CAPSULE_07-09-2022-520HD_s2eq8r.jpg");
    overflow: hidden;
  }
} */
@media only screen and (max-width: 490px) and (orientation: portrait) {
  .profilePictureInner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      90deg,
      rgba(85, 107, 47, 0.927),
      rgb(85, 107, 47)
    );
  }
  .profilePictureBack {
    height: 38vh;
    background-image: url("https://res.cloudinary.com/anais1805/image/upload/v1670345207/LA-CAPSULE_07-09-2022-520HD_s2eq8r.jpg");
    display: flex;

    overflow: hidden;
  }
}
@media only screen and (max-width: 300px) {
  .profilePictureInner {
    width: 110vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      90deg,
      rgba(85, 107, 47, 0.927),
      rgb(85, 107, 47)
    );
  }
  .profilePictureBack {
    width: 110vw;
    height: 38vh;
    background-image: url("https://res.cloudinary.com/anais1805/image/upload/v1670345207/LA-CAPSULE_07-09-2022-520HD_s2eq8r.jpg");

    overflow: hidden;
  }
}
/*LEFT PICTURE*/
@media only screen and (min-width: 1100px) {
  .leftPicture {
    width: 50vw;
    height: 75vh;
    background: linear-gradient(
      90deg,
      rgba(85, 107, 47, 0.927),
      rgb(85, 107, 47)
    );
  }
  .pictureText {
    /* width: 50vw; */
    translate: (-50%, -50%);
    margin: 0;
    margin-top: 28vh;

    padding: 0;
    transition-duration: 1s;
    background-clip: text;
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0;
  }
}

@media only screen and (max-width: 920px) and (orientation: landscape) {
  .leftPicture {
    width: 100vw;
    height: 80vh;
    background: linear-gradient(
      90deg,
      rgba(85, 107, 47, 0.927),
      rgb(85, 107, 47)
    );
  }
  .pictureText {
    /* width: 50vw; */
    translate: (-50%, -50%);
    margin: 0;
    margin-top: 28vh;

    padding: 0;
    transition-duration: 1s;
    background-clip: text;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    display: flex;

    justify-content: center;
    align-items: center;
    letter-spacing: 0;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1100px) and (orientation: portrait) {
  .leftPicture {
    width: 100vw;
    height: 29vh;
    background: linear-gradient(
      90deg,
      rgba(85, 107, 47, 0.927),
      rgb(85, 107, 47)
    );
  }
  .pictureText {
    width: 50vw;
    translate: (-50%, -50%);
    margin: 0;
    margin-top: 15vh;

    padding: 0;
    transition-duration: 1s;
    background-clip: text;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    display: flex;

    justify-content: center;
    align-items: center;
    letter-spacing: 0;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1100px) and (orientation: landscape) {
  .leftPicture {
    width: 100vw;
    height: 40vh;
    background: linear-gradient(
      90deg,
      rgba(85, 107, 47, 0.927),
      rgb(85, 107, 47)
    );
  }
  .pictureText {
    width: 50vw;
    translate: (-50%, -50%);
    margin: 0;
    margin-top: 18vh;

    padding: 0;
    transition-duration: 1s;
    background-clip: text;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    display: flex;

    justify-content: center;
    align-items: center;
    letter-spacing: 0;
  }
}
@media only screen and (min-width: 1000px) and (max-height: 600px)  {
  .leftPicture {
    width: 100vw;
    height: 45vh;
    background: linear-gradient(
      90deg,
      rgba(85, 107, 47, 0.927),
      rgb(85, 107, 47)
    );
  }
  .pictureText {
    width: 50vw;
    translate: (-50%, -50%);
    margin: 0;
    margin-top: 18vh;

    padding: 0;
    transition-duration: 1s;
    background-clip: text;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    display: flex;

    justify-content: center;
    align-items: center;
    letter-spacing: 0;
  }
}
/* @media only screen and (min-width: 1020px) and (max-width: 1100px){

  .leftPicture {
    width: 100vw;
    height: 30vh;
    background: linear-gradient(
      90deg,
      rgba(85, 107, 47, 0.927),
      rgb(85, 107, 47)
    );
  }
  .pictureText {
    width: 50vw;
    translate: (-50%, -50%);
    margin: 0;
    margin-top: 15vh;

    padding: 0;
    transition-duration: 1s;
    background-clip: text;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    display: flex;

    justify-content: center;
    align-items: center;
    letter-spacing: 0;
  }
} */
@media only screen and (max-width: 490px) and (orientation: portrait) {
  .leftPicture {
    width: 100vw;
    height: 30vh;
    padding-top: 5vh;
  }
  .pictureText {
    translate: (-50%, -50%);
    margin: 0;
    margin-top: 9vh;
    margin-left: 10vw;
    padding: 0;
    transition-duration: 1s;
    background-clip: text;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
}
@media only screen and (max-width: 300px) {
  .pictureText {
    font-size: 45px;
    margin-top: 5vh;
  }
  .leftPicture {
    width: 110vw;
    height: 25vh;
    background: linear-gradient(
      90deg,
      rgba(85, 107, 47, 0.927),
      rgb(85, 107, 47)
    );
    display: flex;
    flex-direction: column;
  }
}

.pictureText:hover {
  letter-spacing: 10px;
}
/*BANNER DEVP*/
@media only screen and (min-width: 1100px) and (orientation: landscape) {
  .devp {
    width: 100vw;
    height: 12vh;
    background-color: rgb(247, 138, 4);
    margin: 0;
    position: absolute;
    bottom: 16vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 35px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 920px) and (orientation: landscape) {
  .devp {
    width: 110vw;
    height: 20vh;
    background-color: rgb(247, 138, 4);
    margin: 0;
    position: absolute;
    bottom: 10vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 25px;
    overflow: hidden;
    text-align: center;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1100px) and (orientation: portrait) {
  .devp {
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: rgb(247, 138, 4);
    margin: 0;
    position: absolute;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    bottom: 62.5vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 25px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1100px)  and (orientation: landscape) {
  .devp {
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: rgb(247, 138, 4);
    margin: 0;
    position: absolute;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    bottom: 52vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 25px;
  }
}
@media only screen and (min-width: 1000px) and (max-height: 600px)  {
  .devp {
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: rgb(247, 138, 4);
    margin: 0;
    position: absolute;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    bottom: 45vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 25px;
  }
}
/* @media only screen and (max-width: 1024px) and (max-height: 768px)  {
  .devp {
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: rgb(247, 138, 4);
    margin: 0;
    position: absolute;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    bottom: 55vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 25px;
  }
} */

@media only screen and (max-width: 490px) {
  .devp {
    width: 100vw;
    height: 20vh;
    text-align: center;
    background-color: rgb(247, 138, 4);
    margin: 0;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    bottom: 15vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 28px;
  }
}
@media only screen and (max-width: 300px) {
  .devp {
    height: 20vh;
    width: 110vw;
    text-align: center;
    background-color: rgb(247, 138, 4);
    margin: 0;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    bottom: 16vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 25px;
  }
}

.starBox {
  width: 10vw;
  height: 10vh;
  background-color: transparent;
  perspective: 1000px;
}
.starInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.starBox:hover .starInner {
  transform: rotateY(360deg);
  color: gold;
}
.star {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
/* STARS MARGINS*/
@media only screen and (min-width: 1100px) {
  .star {
    /* margin-left: 3vw; */
    margin-top: 2.5vh;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1100px) and (orientation: portrait) {
  .star {
    margin-top: 2.5vh;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1100px)   and (orientation: landscape){
  .star {
    margin-top: 2.5vh;
  }
}
@media only screen and (max-width: 490px) {
  .star {
    margin-top: 2.5vh;
  }
}


.starFront,
.starBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
/*CARDS TITLES, SECTIONS, TEXT*/
@media only screen and (min-width: 1100px) {
  .cardTitles {
    color: green;
    display: inline;
    width: 35vw;
    margin: 6vw 2vh;
    padding-top: 3vh;
    padding-right: 3vw;
    padding-left: 6vw;
    /* border-right: 1px solid darkgreen; */
    transition-duration: 1s;
    background-clip: text;
    translate: (-50%, -50%);
    font-size: 50px;
    border-right: 1px solid green;
  }
}

.cardTitles:hover {
  letter-spacing: 10px;
  color: darkorange;
}

@media only screen and (min-width: 1100px) {
  .section {
    display: flex;

    background-color: rgba(209, 162, 80, 0.337);
    padding-top: 2vh;
  }
  .section2 {
    display: flex;
    background-color: rgba(209, 162, 80, 0.337);
  }
  .subsection {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
  }

  .aboutMe {
    width: 70vw;
    height: 60vh;
    padding: 1vh 1vw;
    margin: 3vw;

    justify-content: space-around;
    align-items: center;
  }
  .Text {
    padding: 2vh 1vw;
    text-align: justify;
    font-size: 22px;
    line-height: 1.5;
  }
  .Text2 {
    padding: 2vh 6vw;
    text-align: justify;
    font-size: 22px;
    line-height: 1.5;
  }
  .dev {
    font-weight: bold;
    text-align: center;
    color: rgb(224, 148, 6);
    font-size: 25px;
  }
}
@media only screen and (max-width: 920px) and (orientation: landscape) {
  .cardTitles {
    width: 110vw;
    color: green;
    /* display: inline;  */
    margin-top: 8vh;
    margin-bottom: 0vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 3vw;
    text-align: center;
    transition-duration: 1s;
    background-clip: text;
    translate: (-50%, -50%);
    font-size: 45px;
  }
  .Text {
    width: 110vw;
    /* padding: 4vh 6vw; */
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
  }
  .Text2 {
    width: 110vw;
    padding: 2vh 10vw;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
  }
  .dev {
    font-weight: bold;
    text-align: center;
    color: rgb(224, 148, 6);
    font-size: 18px;
  }
  .section2 {
    text-align: center;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1100px) and (orientation: portrait) {
  .cardTitles {
    width: 100vw;
    color: green;
    /* display: inline; */
    margin-top: 8vh;
    margin-bottom: 0vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 3vw;
    text-align: center;
    transition-duration: 1s;
    background-clip: text;
    translate: (-50%, -50%);
    font-size: 45px;
  }
  .Text {
    width: 100vw;
    padding: 2vh 6vw;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
  }
  .Text2 {
    width: 100vw;
    padding: 2vh 10vw;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 2vh;
  }
  .dev {
    font-weight: bold;
    text-align: center;
    color: rgb(224, 148, 6);
    font-size: 18px;
  }
  .section2 {
    text-align: center;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1100px)   and (orientation: landscape){
  .cardTitles {
    width: 100vw;
    color: green;
    /* display: inline; */
    margin-top: 8vh;
    margin-bottom: 0vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 3vw;
    text-align: center;
    transition-duration: 1s;
    background-clip: text;
    translate: (-50%, -50%);
    font-size: 45px;
    
  }
  .Text {
    width: 100vw;
    padding: 2vh 6vw;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
   
  }
  .Text2 {
    width: 100vw;
    padding: 2vh 10vw;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 2vh;
  }
  .dev {
    font-weight: bold;
    text-align: center;
    color: rgb(224, 148, 6);
    font-size: 18px;
  }
  .section2 {
    text-align: center;
  }

}

@media only screen and (max-width: 490px) {
  .cardTitles {
    width: 100vw;
    color: green;
    /* display: inline; */
    margin-top: 8vh;
    margin-bottom: 0vw;
    padding-top: 10vh;
    padding-bottom: 3vh;
    padding-right: 3vw;
    text-align: center;
    transition-duration: 1s;
    background-clip: text;
    translate: (-50%, -50%);
    font-size: 45px;
  }
  .Text {
    width: 100vw;
    padding: 2vh 6vw;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
  }
  .Text2 {
    width: 100vw;
    padding: 2vh 10vw;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
  }
  .dev {
    font-weight: bold;
    text-align: center;
    color: rgb(224, 148, 6);
    font-size: 18px;
  }
  .section2 {
    text-align: center;
  }
}
@media only screen and (max-width: 300px) {
  .cardTitles {
    color: green;
    /* display: inline; */

    margin: 4vh 2vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 3vw;
    text-align: center;
    transition-duration: 1s;
    background-clip: text;
    translate: (-50%, -50%);
    font-size: 40px;
  }
}
.link {
  font-weight: bold;
  text-align: center;
  color: rgb(224, 148, 6);
  font-style: italic;
  transition: color 0.5s ease-in-out;
}
.internalLinks {
  font-weight: bold;
  text-align: center;
  color: rgb(224, 148, 6);
  text-decoration: underline;
  transition: color 0.5s ease-in-out;
}

.link:hover,
.internalLinks:hover {
  color: green;
  cursor: pointer;
}
