
.header {
  width: 100vw;
  height: 8vh;
  position: absolute;
  z-index: 1;
}
.navBar {
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}
.navBarText {
  transition: color 0.5s ease-in-out;
}
.navBarText:hover {
  color: orange;
  cursor: pointer;
}
.profilePictureInner {
  display: flex;
  width: 100vw;
}
.profilePictureBack {
  width: 100vw;
  height: 85vh;

  margin: 0;
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 40%,
      darkolivegreen 100%
    ),
    url("https://res.cloudinary.com/anais1805/image/upload/v1670345207/LA-CAPSULE_07-09-2022-520HD_s2eq8r.jpg");
}
.leftPicture {
  width: 50vw;
  height: 85vh;
  background: linear-gradient(
    90deg,
    rgba(85, 107, 47, 0.927),
    rgb(85, 107, 47)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pictureText {
  width: 30vw;
  height: 20vh;
  translate: (-50%, -50%);
  margin: 0;
  padding: 0;
  transition-duration: 1s;
  background-clip: text;
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 2;
}
.pictureText:hover {
  letter-spacing: 10px;
}
.devp {
  width: 100vw;
  height: 7vh;
  background-color: rgb(247, 138, 4);
  margin: 0;
  position: absolute;
  bottom: 12vh;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 2px;
  font-weight: 700;
}
.cardTitles {
  color: green;
  display: inline;
  width: 35vw;
  margin: 6vw 2vh;
  padding-top: 3vh;
  padding-right: 3vw;
  padding-left: 6vw;
  border-right: 1px solid darkgreen;
  transition-duration: 1s;
  background-clip: text;
  translate: (-50%, -50%);

}
.cardTitles:hover{
  letter-spacing: 10px;
  color: darkorange;
}
.section {
  display: flex;
  background-color: rgba(209, 162, 80, 0.337);
  padding-top: 2vh;
}
.section2{
  display: flex;
  background-color: rgba(209, 162, 80, 0.337);
  ;
}

.aboutMe {
  width: 60vw;
  height: 50vh;
  padding: 1vh 1vw;
  margin: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Text {
  padding: 1vh 1vw;
  text-align: justify;
  font-size: 17px;

  
}


.dev {
  font-weight: bold;
  text-align: center;
  color: rgb(224, 148, 6);
  font-size: 17px;
}
.link {
  font-weight: bold;
  text-align: center;
  color: rgb(224, 148, 6);
  font-style: italic;
  transition: color 0.5s ease-in-out;
}
.internalLinks {
  font-weight: bold;
  text-align: center;
  color: rgb(224, 148, 6);
  text-decoration: underline;
  transition: color 0.5s ease-in-out;
}

.link:hover,
.internalLinks:hover {
  color: green;
  cursor: pointer;
}


